.containerDesk {
  display: none;
}
.containerMobile {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .containerDesk {
    display: flex;
    justify-content: center;
  }
  .containerMobile {
    display: none;
  }
}
