.containerServices {
  background-color: rgb(9 55 137 / 95%);
}
.title {
  color: var(--white);
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .containerServices {
    background-color: rgba(250, 250, 255, 1);
  }

  .title {
    color: var(--primary);
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
