.containerServices {
  background-color: rgb(9 55 137 / 95%);
}
.title {
  color: var(--white);
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .title {
    padding-top: 20px;
  }
}
